/* Footer */
 a {
    text-decoration: none;
    color: $color-fuentes;
    font-size: 3rem;
    margin-top: 2rem;
    transition: all 0.3s ease;
    &:hover {
        color:$color-fuentes-secundario;
    }
}

.pieDePagina {
display: flex;
justify-content: center;
/* margin-left: 10rem;
margin-right: 2rem;  */
font-size: 3rem;
padding: 2px;
height: 1rem;
}
li{
    margin-left: 4rem;
    list-style-type: none;


}

h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    color: $color-fuentes-secundario;
    font-size: 3.8rem;
    font-weight: 100;
    margin-top: 5rem;
}