@media (max-width: 300px) {
    .pieDePagina {
        max-width: 90%;
        margin: auto;
    }

    .tituloPrincipal {
        display: none;
    }

    .introGaleria {
        display: none;
    }
   
}